<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

    <form action="/login" method="post">
<br>
<br>
<br>
<br>

        <label for="username">User Name</label>
        <input type="text" name="username" id="user">
        <br>
        <label for="password">PassWord</label>
        <input type="text" name="password" id="pass">
        <br>
        <label for="isAdmin">admin</label>
        <input type="checkbox" name="isAdmin" id="isAdmin">
        <br>
        <button type="submit">Login</button>

    </form>
    
</body>
</html>