.login{
  width: 45%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-left: 7%;
  padding-right: 7%;
  justify-content: center;
}


.log{
  display: flex;
}
.logimg{
  background-image: url('../public/cook.jpg');
  width: 55%;
  background-size:cover;
}

.loginlogo{
  margin-bottom: 50px;
}
.logsub{
  margin-top: 30px;
  height: 50px;
  width: 100%;
}
.or{
  margin-top: 25px;
  display: flex;
  align-items: center;
}
.line{
  background-color: rgb(160, 160, 160);
  height: 0.5px;
  width: 100%;
}
.orl{
  position: relative;
  top:5px;
  padding-right: 10px;
  padding-left: 10px;
}
.backbtn{
  border: 0;
  background-color: white;
  font-size: 30px;
  width: 10%;
  position: relative;
  bottom: 30px;
}
.nav{
background-color: rgb(226, 226, 226);
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding-left: 5vw;
  padding-right: 5vw;
  align-items: center;
}
.nav_logo{
  max-width: calc(100% - 10px);
    max-height: calc(100% - 10px);
}
.nav_elements{
  display: flex;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
  
}
.navbtn{
 
  white-space: nowrap;

}
.mobTabs{
  display: none;
}
.profile_pic{
 
  height: 2vw;
  border-radius: 100%;
}
.profileBtn{
  padding: 3px;
  padding-left: 11px;
  padding-right: 11px;
}
.txtac{
  display: flex;
  align-items: center;
}

.posr{
  position: relative;
}
.cp{
  cursor: pointer;
}
.post-output{
  background-color: white;
  height: max-content;
  border-radius: 15px;
  padding: 20px;
  max-width: 100%;
}
.postTitle{
  background-color: white;
  border-radius: 12px;
  
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 7px;
  padding-bottom: 7px;
}
.ltbbr{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.profileDetails{
  background-color: rgb(226, 226, 226);
  height: 400px;
  display: flex;
  align-items: center;
  margin-left: 1vw;
  margin-right: 1vw;
  border-radius: 10px;
  
  
}
.proFilepic{

  flex-basis: 0;
  flex-grow: 1;
  padding-top: 10px;
  padding-bottom: 10px;
}
.proDetails{
  display: flex;
  flex-direction: column;
  flex-grow: 0.5;
  flex-basis: 0;
  
  padding: 25px;
  padding-left: 0px;
  padding-right: 25%;
  gap: 15px;
}
.proName{
  display: inline;
}
.propicc{
  margin-right: 35px;
  float: right;
  border-radius: 50%;
  
}
.proSocial{
  display: flex;
  font-size: 40px;
  gap: 35px;
}
.profileDesc{
  display: flex;
  gap: 10%;
  
}
.proDescOne{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.proDescHead{
  margin: 0px;
}


.propic-update{
  display:flex ;
  justify-content: center;
  gap: 70px;
}
.editPropic{
  border-radius: 100%;
}
.editText{
 display: flex;
 margin-right: 25%;
 justify-content: right;
}
.editWidth{
  width: 50%;
}
.editLabel{
  white-space: nowrap;
  font-size: 17px;
  width: fit-content;
}
.chefDetail{
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 70px;
  padding-left: 30px;
 padding-top: 10px;
 padding-bottom: 10px;
}
.detailImg{
height: 70px
}
.detailImgLiteral{
  height: inherit;
  border-radius: 100%;
}
.chefDetail:hover{
  background-color: rgb(226, 226, 226);;
}
.m0{
  margin: 0;
}
.feed_img{
  height: 350px;
  object-fit: cover;
}
.feed_post_cont{
  margin-left: 30%;
  margin-right: 30%;
  width: 40%;
}
.listview_cont{
  width: 50%;
}
.subBtn{
  width: fit-content;
}